In [1]:
import pandas as pd

In [3]:
cdr = pd.read_csv('cdr.csv')
cdr.head()

,txn_type,caller_id,recipient_id,timestamp,duration,caller_antenna,recipient_antenna,international
0,call,ptudOnjdRU,hZvsVsiGbO,2020-01-01 00:00:42,253.0,a101,a54,domestic
1,text,UGDojtMoWq,lpAchcvhBO,2020-01-01 00:02:04,NaN,a44,a110,domestic
2,text,sQGOjnDvvt,PGiqQSpzov,2020-01-01 00:02:12,NaN,a145,a96,domestic
3,call,oPbUuvHBgi,IdYycyWmjl,2020-01-01 00:02:23,96.0,a84,a36,domestic
4,text,pSwWTbHbug,sRLqqorjkH,2020-01-01 00:03:05,NaN,a261,a268,domestic

In [13]:
cdr.shape

(100000, 8)

In [4]:
cdr.isna().sum()

txn_type                 0
caller_id                0
recipient_id             0
timestamp                0
duration             49941
caller_antenna        9857
recipient_antenna     9948
international            0
dtype: int64

In [11]:
cdr['international'].value_counts()

domestic         97983
international     1045
other              972
Name: international, dtype: int64

In [12]:
cdr[(cdr['caller_antenna'].isna()) & (cdr['recipient_antenna'].isna())]

,txn_type,caller_id,recipient_id,timestamp,duration,caller_antenna,recipient_antenna,international
99,call,OXryhijRsq,xYCPtUqRwb,2020-01-01 01:20:16,164.0,NaN,NaN,domestic
121,call,lBbneyUdpV,CRClDwftom,2020-01-01 01:35:02,177.0,NaN,NaN,domestic
432,call,kVHLmGLNEH,VRuawWxKPq,2020-01-01 06:19:01,128.0,NaN,NaN,domestic
444,call,rRmRPRzpPA,ruNGTTGsry,2020-01-01 06:28:53,258.0,NaN,NaN,domestic
450,call,YezRGHjpnb,HUONmMUWTV,2020-01-01 06:33:17,142.0,NaN,NaN,domestic
...,...,...,...,...,...,...,...,...
99524,text,MJKWEawMBC,ZVMnbpzHXK,2020-02-29 16:50:20,NaN,NaN,NaN,domestic
99831,call,IvBPPMxgyU,xeIoKirXzF,2020-02-29 21:26:49,158.0,NaN,NaN,domestic
99840,text,DKPYCgMoYm,pSwWTbHbug,2020-02-29 21:34:29,NaN,NaN,NaN,domestic
99937,call,yTuipTWBjt,Ynvvkgthxn,2020-02-29 23:10:39,183.0,NaN,NaN,domestic
99972,call,HTNQoGUbGf,QoSPkdeOcN,2020-02-29 23:36:33,289.0,NaN,NaN,domestic